/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .landing-container {
    display: flex;
    flex-direction: column;
  }

  .contains-proj-list{
    height: 700px !important;
    position: relative;
    z-index: -1;
  }
  
  /* Main Content */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
  }
  
  .main-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .main-content p {
    font-size: 1.2rem;
    color: #555;
  }
  
 

 