.project-card{
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .project-card h1{
    font-size: 20px;
  }
  .project-card img{
    width: 85px;
    height: auto;
  }
.project-card-info{
    display: flex;
    flex-direction: column;
}